<!-- Таблица игр (скрыта по умолчанию) -->
<div class="table-wrapper" id="games-table">
    <table class="data-table">
        <thead>
            <tr>
                <th>Дата</th>
                <th>Город</th>
                <th>Турнир</th>
                <th>Число команд</th>
                <th>Победитель</th>
            </tr>
        </thead>
        <tbody>
        {% for tournament in tournaments  %}        
            <tr class="game-row" data-game-id="{{ tournament.id }}">
                <td>{{ tournament.date }}</td>
                <td>{{ tournament.city.name }}</td>
                <td>{{ tournament.name }}</td>
                <td>{{ tournament.results_count }}</td>
                <td>
                    {% if tournament.winners %}
                        {% for winner in tournament.winners %}
                            {{ winner.team.name }}
                        {% endfor %}
                    {% else %}
                        -
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {% load url_helpers %}
    {% if page_obj.paginator.num_pages > 1 %}
    <div class="pagination-wrapper">
        <div class="pagination">
            {% if page_obj.has_previous %}
                <a href="?page={{ page_obj.previous_page_number }}{% for key, value in request.GET.items %}{% if key != 'page' %}&{{ key }}={{ value }}{% endif %}{% endfor %}" class="pagination-arrow">
                    <
                </a>
            {% endif %}

            {% for num in page_obj.paginator.page_range %}
                {% if num == page_obj.number %}
                    <span class="pagination-btn active">{{ num }}</span>
                {% else %}
                    <a href="?page={{ num }}{% for key, value in request.GET.items %}{% if key != 'page' %}&{{ key }}={{ value }}{% endif %}{% endfor %}" class="pagination-btn">
                        {{ num }}
                    </a>
                {% endif %}
            {% endfor %}

            {% if page_obj.has_next %}
                <a href="?page={{ page_obj.next_page_number }}{% for key, value in request.GET.items %}{% if key != 'page' %}&{{ key }}={{ value }}{% endif %}{% endfor %}" class="pagination-arrow">
                    >
                </a>
            {% endif %}
        </div>
    </div>
    {% endif %}
</div>